<a href="https://colab.research.google.com/github/jimcody2014/Python-Public/blob/main/database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import csv

In [ ]:
#conn = sqlite3.connect('data.db')
conn = sqlite3.connect('customer.db')
c = conn.cursor()

In [ ]:
table_name = 'customers'
sql_command = f'DROP TABLE IF EXISTS {table_name};'
c.execute(sql_command)
conn.commit()

In [ ]:

c.execute('''CREATE TABLE customers (age text, gender text, salary text, years text, loan text, city text)''')
c.execute("Insert into customers values ('27','Male','100000','5','no','nashville')")
conn.commit

In [ ]:
for row in c.execute('''select * from customers'''):
  print('row:', row)

In [ ]:
uc2 = []
with open('customers.csv', 'r') as csvfile:
  rdr = csv.reader(csvfile,
                   delimiter=',',
                   quotechar='"')
  for line in rdr:
    uc2.append(line)

In [ ]:
print(uc2)

In [ ]:
c.executemany("insert into customers values (?,?,?,?,?,?)", uc2)
conn.commit()

In [ ]:
for row in c.execute('''select * from customers'''):
  print('row:', row)